html {
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
    width: 50%;
    height: auto;
}