html {
  min-height: 100%;
  background-color: #181818;
  background-image: linear-gradient(70deg, black, gray);
  background-attachment: fixed;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: lightgray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 800px;
  margin: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 2px solid black; */
}

main {
  /* border: 2px solid black; */
}

#odin-img {
  height: auto;
  margin-top: -50px;
  margin-left: -30px;
  float: left;
  padding: 1rem;
  padding-bottom: 0.25rem;
}

.about-me-card {
  color: black;
  background-color: lightgray;
  border: 1px solid;
  border-radius: 1%;
  padding: 1rem;
  padding-bottom: 0rem;
  margin-top: 0.5rem;
  float: none;
}

.my-work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* border: 2px solid black; */
}

.my-work-card {
  background-color: lightgray;
  border: 2px solid lightgray;
  border-radius: 1%;
  max-width: 150px;
  color: black;
  margin: 1rem;
}

.my-work-card-content {
  padding: 1rem;
  padding-top: 0rem;

  /* display: flex;
  flex-wrap: wrap; */
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;

  /* border: 2px solid black; */
}

.footer-left {
  padding: 1rem;
  max-width: 200px;
  margin-top: -35px;
}

#at-work-img {
  height: 50%;
  max-width: 50%;
}

.my-work-header {
  justify-self: center;
}

.add-icon {
  display: flex;
  align-items: center;
}

.icon-image {
  margin-right: 1rem;
}

.icon {
  height: 20%;
  max-width: 20%;
}
